/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
/bootstrap
/config
/public
/storage
/tests
Homestead.json
Homestead.yaml
.env
app_boot.sh
artisan
clear
composer.json
composer.lock
package.json
phpunit.xml
Procfile
server.php
webpack.mix.js
yarn.lock